#mango {
    width: 200px;
    height:200px
}


#banana {
    width: 200px;
    height:200px
}
#waterMelons{
 width: 200px;
    height:200px    
}

#onion {
    width: 200px;
    height:200px
}

#tomato {
    width: 200px;
    height:200px
}
#kales {
    width: 200px;
    height:200px
}